In [2]:
# A tuple in Python is an immutable ordered collection of elements.
#tuples are ordered and immutable
#A tuple is created by placing all the items inside parentheses (),
#separated by commas. A tuple can have any number of items and they can be of different data types.
tup = ()

print(tup)

tup = ('ashu',1,3,4,5,True)
tup

()

('ashu', 1, 3, 4, 5, True)

In [4]:
#using list
list = [1,3,4,5,6,6]
list
tup = tuple(list)
tup

(1, 3, 4, 5, 6, 6)

In [5]:
#Tuples can contain elements of various data types, including other tuples, lists, dictionaries and even functions.

tup = ('ram','shyam',13,45,)
tup

('ram', 'shyam', 13, 45)

In [8]:
## Creating a Tuple with nested tuples
tup1= ('rahul','shya,')
tup2 = (12,34,55,'ram')
tup3 = (tup1,tup2)
tup3

(('rahul', 'shya,'), (12, 34, 55, 'ram'))

In [16]:
#Accessing of python tuple

#We can access the elements of a tuple by using indexing and slicing, similar to how we access elements in a list.
#Indexing starts at 0 for the first element and goes up to n-1,
#where n is the number of elements in the tuple. Negative indexing starts from -1 for the last element and goes backward.

#accessing tuple using indexing
tup = ("geeks","ram","shyam")
print(tup[1])

# Accessing a range of elements using slicing
print(tup[1:1])

ram
()

In [26]:
#Concatenation of Tuples
#Tuples can be concatenated using the + operator. This operation combines two or more tuples to create a new tuple.

tup1 = (1,2,3,4,5,6)
tup2 = (32,34,5,6,6,67)
tup3 = (tup1 + tup2)
tup3

(1, 2, 3, 4, 5, 6, 32, 34, 5, 6, 6, 67)

In [28]:
#tuple and list co concatnation

tup = (1,2,4,5)
li = [1,2,3,4]
print(tup + tuple(li)) #by using tuple(list) : methode we can conver list in to tuple

(1, 2, 4, 5, 1, 2, 3, 4)

In [38]:
#Slicing of Tuple

#Note : Negative Increment values can also be used to reverse the sequence of Tuples.

tup = tuple('GEEKSFORGEEKS')

print(tup) #complete tuple
print(tup[1:]) #removing first element
print(tup[2:]) #removing second element

# Reversing the Tuple

print(tup[::-1])

# Printing elements of a Range

print(tup[3:6])

('G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S')
('E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S')
('E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S')
('S', 'K', 'E', 'E', 'G', 'R', 'O', 'F', 'S', 'K', 'E', 'E', 'G')
('K', 'S', 'F')

In [41]:
#Deleting a Tuple
# since tuple is imutable hence we can not delete the elements from the tuple
#but we can delete the entire tuple using the del statement

tup = (1,2,3,4,5)
del tup

NameError: name 'tup' is not defined