In [19]:
#List data type in python

In [13]:
#creating a list of different datatype
a = [10, 20, "GfG", 40, True]
a
print(a)

[10, 20, 'GfG', 40, True]

In [15]:
# Accessing elements using indexing

print(a[0])
print(a[1])
print(a[2])
print(a[3])

10
20
GfG
40

In [16]:
# Checking types of elements
print(type(a[2]))  # str
print(type(a[4]))  # bool

<class 'str'>
<class 'bool'>

In [6]:
# addidng the elements in the list >We can add elements to a list using the following methods:
#append(): Adds an element at the end of the list.
#extend(): Adds multiple elements to the end of the list.
#insert(): Adds an element at a specific position.

a = []
#adding element in the last
a.append(10)
a
a.insert(0,5)
print(a)
#adding multiple element
a.extend([10,20,30,40])
print(a)

[5, 10]
[5, 10, 10, 20, 30, 40]

In [18]:
#we can change the element using its index
a= [10,20,40,"ashu"]
a
a[1] = "ashu"
a

[10, 'ashu', 40, 'ashu']

In [35]:
#We can remove elements from a list using:

#remove(): Removes the first occurrence of an element.
#pop(): Removes the element at a specific index or the last element if no index is specified.
#del statement: Deletes an element at a specified index.
a = [10, 20, 30, 40, 10,50]
print("before remove:", a)
# Removes the first occurrence of 10
a.remove(10)
print("after remove 10:", a)
#removed element at index 1 (30)

popped_value = a.pop(1)
print("popped element:", popped_value)
print(a)

#deletes the first element 20
del a[0]
a

before remove: [10, 20, 30, 40, 10, 50]
after remove 10: [20, 30, 40, 10, 50]
popped element: 30
[20, 40, 10, 50]

[40, 10, 50]

In [41]:
#user inputs :  we can create list using the spilt method in python


user_input = input("Enter elements separated by space: ").split()

print("List:", user_input)

Enter elements separated by space: 10,20,34,34,ashu,ram,2.3,90.00
List: ['10,20,34,34,ashu,ram,2.3,90.00']

In [49]:
#Create List of Numbers with Given Range - Python
a = 0
li = list(range(0,2,10))
print(li)

[0]

In [55]:
list = [10,20,30,40]

list.extend([10,20,30])
list

[10, 20, 30, 40, 10, 20, 30]